<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Specialty List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>

<div class="container">
    <table class="responsive-table">
        <caption>List Specialty</caption>
        <thead>

        <tr>
            <th scope="col">Id</th>
            <th scope="col">Number</th>
            <th scope="col">Applicant List</th>
            <th scope="col">Examination</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">ModifiedAt</th>
            <th scope="col" colspan="2">OPTIONS</th>
        </tr>


        </thead>

        <tbody>
        <tr th:each="specialties: ${specialty}">
            <td th:text="${specialties.id}"></td>
            <td th:text="${specialties.name}"></td>
            <td>
                <ol>
                    <li th:each="requiredExamListId: ${specialties.requiredExamList}">
                        <span th:text="${requiredExamListId}"></span>
                    </li>
                </ol>
            </td>
            <td th:text="${specialties.passingScore}"></td>
            <td th:text="${specialties.created_at}"></td>
            <td th:text="${specialties.modified_at}"></td>
            <td class="options">
                <a  th:href="@{/ui/specialties/delete/{id}(id=${specialties.id})}">
                    <button class="first">Delete</button>
                </a>
                <a th:href="@{/ui/specialties/showUpdateForm/{id}(id=${specialties.id})}">
                    <button class="last">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>

    </table>
    <br>

    <div style="text-align: center">
        <a th:href = "@{/ui/specialties/showNewSpecialtyForm}" class="containerButton">Add</a>
    </div>
</div>
</body>
<script>
    $('button').on('click', function(){
        $('body').toggleClass('open');
    });

</script>

</html>