<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>

<button class="menu-toggle hamburger"></button>
<nav>
    <ul class="menu">
        <li
                data-text="Requests"
                th:href = "@{/ui/requests/}"
                onclick="window.location.href = this.getAttribute('href')">
            Requests
        </li>
        <li
                data-text="Applicant"
                th:href = "@{/ui/applicants/get/all}"
                onclick="window.location.href = this.getAttribute('href')">
            Applicant
        </li>
        <li
                data-text="Certificate"
                th:href = "@{/ui/certificates/get/all}"
                onclick="window.location.href = this.getAttribute('href')">
            Certificate
        </li>
        <li
                data-text="Department"
                th:href = "@{/ui/departments/get/all}"
                onclick="window.location.href = this.getAttribute('href')">
            Department
        </li>
        <li
                data-text="Examination"
                th:href = "@{/ui/examinations/get/all}"
                onclick="window.location.href = this.getAttribute('href')">
            Examination
        </li>
        <li
                data-text="Faculty"
                th:href = "@{/ui/faculties/get/all}"
                onclick="window.location.href = this.getAttribute('href')">
            Faculty
        </li>
        <li
                data-text="Group"
                th:href = "@{/ui/groups/get/all}"
                onclick="window.location.href = this.getAttribute('href')">
            Group
        </li>
        <li
                data-text="Person"
                th:href = "@{/ui/persons/get/all}"
                onclick="window.location.href = this.getAttribute('href')">
            Person
        </li>
        <li
                data-text="Specialty"
                th:href = "@{/ui/specialties/get/all}"
                onclick="window.location.href = this.getAttribute('href')">
            Specialty
        </li>
        <li
                data-text="Teacher"
                th:href = "@{/ui/teachers/get/all}"
                onclick="window.location.href = this.getAttribute('href')">
            Teacher
        </li>
        <li
                data-text="University"
                th:href = "@{/ui/universities/get/all}"
                onclick="window.location.href = this.getAttribute('href')">
            University
        </li>
        <li
                data-text="Document"
                th:href = "@{/ui/documents/get/all}"
                onclick="window.location.href = this.getAttribute('href')">
            Document
        </li>
    </ul>
</nav>

<div class="container">
    <table class="responsive-table">
        <caption>List Document</caption>
        <thead>

        <tr>
            <th scope="col">Id</th>
            <th scope="col">Certificate</th>
            <th scope="col">isApplication</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">ModifiedAt</th>
            <th scope="col" colspan="2">OPTIONS</th>
        </tr>


        </thead>

        <tbody>
        <tr th:each="documents: ${document}">
            <td th:text="${documents.id}"></td>
            <td>
                <a
                        th:text="${documents.certificate.id}"
                        th:href = "@{/ui/certificates/get/all}"
                ></a>
            </td>
            <td th:text="${documents.isApplication}"></td>
            <td th:text="${documents.created_at}"></td>
            <td th:text="${documents.modified_at}"></td>
            <td class="options">
                <a  th:href="@{/ui/documents/delete/{id}(id=${documents.id})}">
                    <button class="first">Delete</button>
                </a>
                <a th:href="@{/ui/documents/showUpdateForm/{id}(id=${documents.id})}">
                    <button class="last">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>

    </table>
    <br>

    <div style="text-align: center">
        <a th:href = "@{/ui/documents/showNewDocumentForm}" class="containerButton">Add</a>
    </div>
</div>
</body>
<script>
    $('button').on('click', function(){
        $('body').toggleClass('open');
    });

</script>

</html>