<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add University</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body style="text-align: center" onclick="checkedTable()">
<div>
    <div>
        <form action="#" th:action="@{/ui/universities/add}" th:object="${university}"
              method="POST">

            <h1>Add University</h1>

            <table class="edit">
                <tr>
                    <td><label>Specialty List</label></td>
                    <td>
                        <div class="input">
                            <select id="test1" multiple th:field="*{specialtyList}" onclick="checkedInput()">
                                <option for="test1" th:each="specialtyIdList: ${specialty}"
                                        th:value="${specialtyIdList.id}" th:text="${specialtyIdList.name}">
                                </option>
                            </select>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><label>Faculty List</label></td>
                    <td>
                        <div class="input">
                            <select multiple th:field="*{specialtyList}" onclick="checkedInput()">
                                <option th:each="facultyIdList: ${faculty}"
                                        th:value="${facultyIdList.id}" th:text="${facultyIdList.name}">
                                </option>
                            </select>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><label>Address</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{address}" onclick="checkedInput()" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Phone number</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{phoneNumber}" onclick="checkedInput()" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

            </table>


            <br>
            <br>

            <div class="control">
                <div class="buttonBack">
                    <a th:href = "@{/ui/universities/get/all}" class="containerButton">Back</a>
                </div>
                <button type="submit">Add</button>
            </div>
        </form>


    </div>
</div>
</body>
<script>

    let table = document.querySelector(".edit");
    let check = false;

    function checkedTable(){
        table.setAttribute("class", "edit");
        if(check){
            table.setAttribute("class", "edit border");
        }
        check = false;
    }

    function  checkedInput(){
        check = true;
    }

</script>

</html>